<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>regServlet</servlet-name>
        <servlet-class>control.regServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>control.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarPerfilServlet</servlet-name>
        <servlet-class>control.modificarPerfilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertarPisoServlet</servlet-name>
        <servlet-class>control.insertarPisoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarCuentaServlet</servlet-name>
        <servlet-class>control.borrarCuentaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>control.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filtroServlet</servlet-name>
        <servlet-class>control.filtroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sinFiltroServlet</servlet-name>
        <servlet-class>control.sinFiltroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pisoDetalladoServlet</servlet-name>
        <servlet-class>control.pisoDetalladoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alquilarPisoServlet</servlet-name>
        <servlet-class>control.alquilarPisoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>regServlet</servlet-name>
        <url-pattern>/regServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarPerfilServlet</servlet-name>
        <url-pattern>/modificarPerfilServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertarPisoServlet</servlet-name>
        <url-pattern>/insertarPisoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarCuentaServlet</servlet-name>
        <url-pattern>/borrarCuentaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filtroServlet</servlet-name>
        <url-pattern>/filtroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sinFiltroServlet</servlet-name>
        <url-pattern>/sinFiltroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pisoDetalladoServlet</servlet-name>
        <url-pattern>/pisoDetalladoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alquilarPisoServlet</servlet-name>
        <url-pattern>/alquilarPisoServlet</url-pattern>
    </servlet-mapping>
    <resource-ref>
        <description>MySQL DB Connection Pool</description>
        <res-ref-name>jdbc/mysql</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
